<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
	<link rel="stylesheet" type="text/css" href="/static/signup_style.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
</head>
<body>

<div class="heading">
	<h1>Signup</h1>
</div>

<div class="form">
	<form method="post">
		
		<div class="field">
			<label>Username:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type ="text" name="username" value="Username">
		</div>
		<br>

		<div class="field">
			<label>Password:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="password" name="password" value="Password">&nbsp;
		</div>
		<br>

		<div class="field">
			<label>Verify Password:</label>&nbsp;&nbsp;&nbsp;&nbsp; <input type="password" name="v_password" value="Password">&nbsp;
		</div>
		<br>

		<div class="field">
			<label>Email(optional):</label>&nbsp;&nbsp;&nbsp; <input type="text" name="email" value="user@domain">&nbsp;
		</div>
		<br>

		<div class="field"><input type="submit"></div>
		<br>
	</form>
</div>	
	
<div class="error"> 
	{{error}}
</div>
	
</form>
</body>
</html>